/m3f/testing/testm3f.m
/m3f/testing/m3f*
/m3f/testing/test*
/dependencies
/movielens100k
/NoTouchversion-2014_02
ml-100k
netflix-data
amazon-data
bin/*
.project
.classpath
*~
.Rapp.history
.Rhistory
\#*
.\#*
build/*
*.~lock.*
output/*
.DS_Store
*.mat
*.base
*.pl
*.dat
m3f/testing/ml-10m.zip
m3f/testing/m3f*
m3f/testing/testm3f_*
*.test
*.train
.mat
.log 

m3f/testing/Prior1-m3f_tib-KU2-KM1-NumFacs10/log/m3f_tib_movielens100k_split100_model-numFacs10_KU2_KM1_init3.log

*.log

*.mat

*.log

m3f/testing/testm3f_tif/log/m3f_tif_movielens100k_split2_model-numFacs10_KU2_KM2_numTopicFacs2_init3.log

m3f/testing/testm3f_tif/log/m3f_tif_movielens100k_split3_model-numFacs10_KU2_KM2_numTopicFacs2_init3.log

m3f/testing/testm3f_tif/log/m3f_tif_movielens100k_split2_model-numFacs10_KU2_KM2_numTopicFacs2_init3.log

*.log

m3f/testing/testm3f_tib/models/m3f_tib_movielens100k_split2_model-numFacs10_KU2_KM2.mat

m3f/testing/testm3f_tib/log/m3f_tib_movielens100k_split1_model-numFacs10_KU2_KM2_init3.log

m3f/testing/testm3f_tif/samples/m3f_tif_movielens100k_split3_model-numFacs10_KU2_KM2_numTopicFacs2_init3_sample50.mat

m3f/testing/movielens100k/jaggedTest1.mat

*.mat

m3f/testing/testm3f_tib/samples/m3f_tib_movielens100k_split2_model-numFacs10_KU2_KM2_init3_sample50.mat

*.log

m3f/testing/movielens10M/ratings.time

m3f/testing/movielens10M/ratings.time
